@media screen and (max-width: 959px) {
	.link {
		font-size: 1.8vw;
	}
}
@media screen and (min-width: 960px) {
	.link {font-size: 18px;}
}
.link {
	font-weight: bold;
	position: relative;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	color:#6C5B7B;
}



.link--page,
.link--page:visited {
	display: block;
	color: #F67280;
}

.link--page:not(.link--faded)::before {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	width: 30px;
	height: 2px;
	margin: 5px 0 0 -15px;
	background: #fff;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transform: scale3d(0, 1, 1);
	transform: scale3d(0, 1, 1);
}

.link--page:hover:before {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}

.link--faded {
	font-size:14px;
	color: #C06C84;
}


.link--faded:hover,
.link--faded:focus,
.link:hover,
.link:focus {
	color:#F67280
}

.link--page.link--faded {
	font-size: 0.65em;
}

.link--social {
	font-size: 1.5em;
	margin: 0 0.75em;
}