.letters{
	max-width: calc(1336px/2.5);
	max-height:calc(200px/2.5);
}
.letter__layer {
	fill: none;
	stroke-miterlimit: 3;
	stroke-linecap: butt;
	stroke-linejoin: bevel;
}

.color-1 { stroke: #F8B195; }
.color-2 { stroke: #F67280; }
.color-3 { stroke: #C06C84; }
.color-4 { stroke: #6C5B7B; }
.color-5 { stroke: #84b5bd; }


/*
.letters--effect-1 .letter__layer:nth-child(2) {
	stroke-width: 9.5px;
}

.letters--effect-1 .letter__layer:nth-child(3) {
	stroke-width: 10px;
}*/

.bold{ stroke-width:14 }
.medium{ stroke-width:5 }
.small{ stroke-width:2 }