.page-wrapper{
	width:100%;
	margin:auto;
	position:absolute;
	background:#ffffff;
}

@media screen and (max-width: 959px) {
	.page-wrapper{
		padding:24px 48px 56px 48px;
	}
}
@media screen and (min-width: 960px) {
	.page-wrapper{

		padding:24px 96px 56px 96px;
	}
}
@media screen and (orientation:portrait) {
	.page-wrapper{
		padding:32px 16px
	}
};
